@import holidays

h1.bigtitle
  background: mapStatic('/imgs/holiday-s17-banner.png?as=jpg'), mapStatic('/imgs/holiday-s17-banner.png?as=jpg&width=80') $color-blue
  background-size: cover
  .failed
    background-color: #999
    color: white
    display: inline-block
    font-size: 1rem
    margin: 0.5rem
    padding: 0.5rem
  .progress
    margin-top: 2rem
body.mobile
  h1.bigtitle
    background: mapStatic('/imgs/holiday-s17-banner.png?width=600&as=jpg'), mapStatic('/imgs/holiday-s17-banner.png?as=jpg&width=80') $color-blue
    background-size: cover

.plans li
  ol
    margin: 0 0 0 4rem
    padding: 0.5rem
    font-size: 1rem

.givenup
  color: #888
  h1, h2, h3, h4, h5, p
    text-decoration: line-through
    color: #999 !important
  a
    color: #888
    transition: color 200ms
    &:hover
      color: #444 !important
  .undone
    background-color: #aaa !important
  .optional
    background-color: #ccc !important

body .content:hover .givenup a
  color: #666
