@import layout
=current_list_icon($icon-bg)
    border-radius: 50%
    background: mapStatic($icon-bg), $color-primary
    color: $color-background
    width: 80px
    height: 80px
    display: inline-block
    overflow: none

body
    margin: 0
    padding: 0
.reset_hx
    font-weight: normal
    margin: 0
    padding: 0
    list-style-type: none
.top
    color: $color-background
    background: mapStatic("imgs/index_top.jpg"), #7f4810
    background-size: cover;
    background-position: 50% 50%
    height: 440px
    text-align: center
    overflow: none
    border-bottom: solid 4px $color-primary-dark
    position: relative

    .img-desc
        font-size: 16px
        background-color: rgba(255, 255, 255, 0.5)
        color: $color-primary-dark
        position: absolute
        bottom: 0
        right: 0
        padding: 4px

    h1
        @extend .reset_hx
        font-size: 48px
        padding-top: 150px
        padding-bottom: 40px
    .quicklinks
        margin: 0
        a
            margin: 10px
            border-bottom: 1px dashed $color-primary-light
            +transition(color, 300ms)
        a:hover
            color: $color-primary

body.mobile
    .top
        height: 350px
        h1
            font-size: 32px
            padding-top: 60px
        .quicklinks
            font-size: 20px
            a
                display: block
                border-bottom: 0;
                padding: 5px 
=tldr_show_apply_color($color)
    background-color: lighten($color, 25%)
    color: darken($color, 25%)
    +transition(background-color, 250ms)

.tile
    padding: 16px
    .tldr
        background-color: rgba($color-primary-light, 0.2)
        padding-left: 10px
        padding-right: 10px
        padding-bottom: 4px
        text-align: justify
        .tldr-start
            @extend i
            margin-left: -10px
            padding-left: 10px
            font-size: 150%
            line-height: 1.2
            background-color: rgba($color-primary-light, 0.5)
            vertical-align: bottom
        .tldr-show
            margin: 4px -10px -4px -10px
            padding: 4px 10px 4px 10px
            cursor: pointer

.tile-welcome
    @extend .tile
    text-align: center

    h2
        @extend .reset_hx
        font-size: 32px
        display: inline-block
        text-align: left

        .currently
            font-size: 16px
            color: $color-secondary-text

    ul.current-list
        @extend .reset_hx
        display: block
        margin: auto
        vertical-align: top
        padding: 12px 0 12px 0

        li
            display: inline-block
            max-width: 120px
            margin: 8px
            vertical-align: top
            .desc
                font-size: 18px

            .icon-igcse
                +current_list_icon("/svg/icon-igcse.svg")
            .icon-sz
                +current_list_icon("/svg/icon-sz.svg")
            .icon-yr
                +current_list_icon("/svg/icon-yr.svg")

body.mobile
    .tile-welcome
        h2
            font-size: 20px
        ul.current-list
            li
                margin: 4px
                .desc
                    font-size: 16px

$tile-skill-maxwidth: 800px
.tile-skill
    @extend .content
    @extend .tile
    border-top: solid 2px $color-blue
    background-color: rgba($color-blue, 0.1)
    .tldr-show
        +tldr_show_apply_color($color-blue)
    .tldr-show:hover
        background-color: lighten($color-blue, 20%)

    .pad
        max-width: $tile-skill-maxwidth
        margin: auto
        h2
            @extend .reset_hx
        .till
            color: $color-secondary-text
            margin-bottom: 4px
        > ul
            @extend .reset_hx
            display: block
            max-width: $tile-skill-maxwidth
            margin: auto
            padding: 8px
            > li > h3
                @extend .reset_hx
                font-size: 1.5em
                color: $color-blue
            > li p
                padding: 2px 4px 2px 4px
                text-align: justify
