$color-primary: #E91E63
$color-primary-text: #212121
$color-primary-dark: #C2185B
$color-primary-light: #F8BBD0
$color-background: #FFFFFF
$color-accent: #009688
$color-secondary-text: #727272
$color-divider: #B6B6B6
$color-pink: #EB65A0
$color-blue: #73C5E1
$color-purple: #9B539C
$color-green: #5BB12F
$color-yellowgreen: #BCCF02
$color-orange: #FF5722
$color-brown: #795548
$fs-text: 16px
$ff-body: 'Vollkorn', serif
=transition($prop, $time)
  transition: $prop $time
  -webkit-transition: $prop $time
  -moz-transition: $prop $time
  -ms-transition: $prop $time
=column_width($width)
  -webkit-column-width: $width
  -moz-column-width: $width
  column-width: $width

body
  color: $color-primary-text
  background-color: $color-background
  font-family: $ff-body
  font-size: $fs-text
  line-height: 1.4
  margin: 0
  padding: 2rem
  p
    margin-top: 0.6rem
    margin-bottom: 0.6rem

h1, h2, h3, h4, h5, h6, .title-font
  font-family: 'Unica One', sans-serif
  text-transform: uppercase
  code, pre
    text-transform: none

*
  word-break: break-word

a
  text-decoration: none
  color: inherit
body .content a
  +transition(color, 250ms)

body .content:hover a,
body.mobile .content a
  color: $color-primary

body .content a:hover
  color: $color-primary-dark
  border-bottom: solid 1px $color-divider
body .content a.noline:hover
  border-bottom: none
body .content img
  max-width: 100%

i
  background-color: rgba($color-accent, 0.1)

pre, code
  line-height: 1.2
  white-space: pre-wrap
  word-break: break-all
.shake
  display: inline-block

.hiddenText
  display: inline
  font-size: 0
  width: 0
  height: 0
  opacity: 0

input, textarea, button
  font-family: $ff-body
  outline: none
textarea, button
  border-left: solid 1px $color-accent
  border-top: none
  border-bottom: solid 1px $color-accent
  border-right: none
button
  background-color: white
  color: $color-primary
button.primarybutton
  background-color: $color-primary
  color: white

.copyrights
  @extend .content
  font-size: 0.7rem
  color: $color-secondary-text
  margin-top: 1rem
  border-top: solid 1px rgba($color-secondary-text, 0.4)
  display: inline-block
  div
    margin-bottom: 0.2rem
