.tile-bio#bio
  h2
    | A strange programmer
    .currently I'm currently:
  ul.current-list
    li
      .icon-igcse
      .desc A high school student
    li
      .icon-sz
      .desc Living in Shenzhen, China
    li
      .icon-yr
      !="<!-- " + agepre + " years old -->"
      .desc #{age} years old
  p
    | <b>I'm a programmer</b>. I write code throughout my childhood. Sometimes I
    | consider myself an "<i>expert</i>" on programming, but often I end up finding
    | out that I'm way far from an "<i>expert</i>". <b>I love open source and free culture</b>
    | and share <b>almost</b> everything I created. I've written a lot of code, but for most of
    | them I end up taking down from GitHub 1 or 2 years later, usually because I think
    | the code were poorly written. I still keep them as archives on a drive
    | placed in my drawer.  <i>And it turns out that drive had gone ( although I have backup ).</i> 
    a(href="#projects") See my projects
    |  or 
    a(href="#skills") Read more about my skills&hellip;
  p
    | <b>I'm "emotionally" strange</b>. I often feel shamed by my old Facebook ( or WeChat )
    | posts because I often overthink too much and sometimes took things too seriously, especially
    | in the past several years.
    | I'm very pessimistic for no logical reason when I faced rejection and
    | it's hard for me to deny others request.
  p
    | <b>I'm technically strange.</b> I like to make use of <i>technologies</i> like fancy cryptography
    | and end up getting things overcomplicated. ( I still think we should all go HTTPS though, and chrome
    | seems to support my view on this. )
    | I often bring unnecessary <i>logic</i> into life and end up doing weird things, and I often try to
    | summarize things happen in real life into determined rules or theories.
