.tile-bio#bio
  h2
    | A stupid programmer
    .currently I'm currently:
  ul.current-list
    li
      .cicon.icon-igcse
      .desc
        | A <del>high</del> 
        a(href='https://en.wikipedia.org/wiki/International_General_Certificate_of_Secondary_Education') secondary
        |  school student
    li
      .cicon.icon-sz
      .desc Living in Shenzhen, China
    li
      .cicon.icon-yr
      !="<!-- " + agepre + " years old -->"
      .desc
        a(href='https://www.wolframalpha.com/input/?i=Aug+21,+2001+to+now') #{age} years
        |  old
  p
    | <b>I'm a programmer</b>. I have been writing code since my (damn) childhood.
    | Sometimes I consider myself an "<i>expert</i>" on programming, but sometimes I
    | realize that I'm way too far from being an true "<i>expert</i>". <b>I love
    | open source and free culture</b> and is welling to share <b>most</b> of the
    | things I created. I have written a lot of code, but most of them, especially
    | those frome my early years, often end up being taken down from GitHub 1 or 2
    | years later by myself, usually because I think the code were poorly written. I
    | still keep them as archives on a disk placed in my drawer. <i>And it turns out
    | that disk had gone ( although I do have backup ).</i> 
    a(href="#projects") See my projects
    |  or 
    a(href="#skills") read more about my skills&hellip;
  p
    | I like to make use of (or imagine) <i>technologies</i> involving overly-fancy
    | cryptography and end up getting things overcomplicated. ( I still think we
    | should all go HTTPS though, and chrome seems to support my view on this. ) I
    | often bring unnecessary <i>logic</i> into my life and often end up doing weird
    | things. I often try to summarize things happen in real life into determined
    | rules or theories.
