.tile-bio#bio
  h2
    | A strange programmer
    .currently I'm currently:
  ul.current-list
    li
      .icon-igcse
      .desc A high school student
    li
      .icon-sz
      .desc Living in Shenzhen, China
    li
      .icon-yr
      !="<!-- " + agepre + " years old -->"
      .desc #{age} years old
  p
    | <b>I'm a programmer</b>. I write code throughout my childhood. Sometimes I
    | consider myself an "<i>expert</i>" on programming, but often I end up finding
    | out that I'm way far from an "<i>expert</i>". <b>I love open source and free culture</b>
    | and share almost everything I created. I've written a lot of code, however, most of
    | them I end up taking them down from GitHub 1 or 2 years later because I think
    | those code were poorly written. I still keep them as archive on a disk
    | placed in my drawer.  <i>And it turns out that disk had gone.</i>
    a(href="#projects") See my projects...
    |  or 
    a(href="#skills") Read more about my skills...
  p
    | <b>I'm emotionally strange</b>. Not only did I often feel shamed by my old Facebook ( or Wechat )
    | posts because I used to be extermly emotional and sometimes took things too seriously,
    | also I often unreasonably feel bad just because my friends ignore or reject me and
    | it's kind of hard for me to reject others also.
  p
    | <b>I'm technically strange.</b> I like to make use of <i>technologies</i> like fancy cryptography
    | and end up getting things overcomplicated. ( I still think we should all go https though. )
    | Also I often brings unnecessary <i>logic</i> to life and end up doing weird things.
    | I often try to summarize things happen in real life into determined rules or theories.
