.tile-bio#bio
  h2
    | A stupid programmer
    .currently I'm currently:
  ul.current-list
    li
      .cicon.icon-igcse
      .desc
        | A <del>high</del> 
        a(href='https://en.wikipedia.org/wiki/International_General_Certificate_of_Secondary_Education') secondary
        |  school student
    li
      .cicon.icon-sz
      .desc Living in Shenzhen, China
    li
      .cicon.icon-yr
      !="<!-- " + agepre + " years old -->"
      .desc
        a(href='https://www.wolframalpha.com/input/?i=Aug+21,+2001+to+now') #{age} years
        |  old
  p
    | <b>I'm a programmer</b>. I have been writing code since my (damn) childhood.
    +ref("When I was really young, I don't even use things like git, and I certainly lost my early product. But it's mostly silly things like website made of Flash ActionScript.")
    |  Sometimes I consider myself an "<i>expert</i>" on programming, but sometimes I
    | realize that I'm way too far from being an true "<i>expert</i>".
    +ref("Skills / why you probably don't want to hire me", '#skills')
    |  <b>I love open source and free culture</b> and is welling to share <b>most</b>
    | of the things I created.
    +ref('GitHub repositories', 'https://github.com/micromaomao?tab=repositories', "People rarely find my stuff useful, but I posted it on GitHub so I won't lost it.")
    |  I have written a lot of code
    +ref('GitHub repositories', 'https://github.com/micromaomao?tab=repositories', "People rarely find my stuff useful, but I posted it on GitHub so I won't lost it.")
    +ref('Screenshot of `ls` on archives,', mapStatic('/imgs/old-project-archive-ls.png'), 'and that is not all. As I just said, most early works had been lost.')
    | , but most of them, especially
    | those frome my early years, often end up being taken down from GitHub 1 or 2
    | years later by myself, usually because I think the code were poorly written.
    +ref('Just look at this code.', mapStatic('/imgs/archive-ugly-code-example-1.png'))
    +ref('You may also want to check out the naming in this more recent project.', 'https://github.com/micromaomao/opentieba/blob/master/JS/in-broswer.js#L43')
    |  I still keep them as archives on a disk placed in my drawer. <i>And it turns
    | out that disk had gone ( although I do have backup ).</i> 
    a(href='#projects') See my projects
    |  or 
    a(href='#skills') read more about my skills&hellip;
  p
    | I like to make use of (or imagine) <i>technologies</i> involving overly-fancy
    | cryptography and end up getting things overcomplicated. ( I still think we
    | should all go HTTPS though, and Chrome seems to support my view on this.
    +ref('Google Online Security Blog: Moving towards a more secure web', 'https://security.googleblog.com/2016/09/moving-towards-more-secure-web.html')
    |  ) I
    | often bring unnecessary <i>logic</i> into my life and often end up doing weird
    | things. I often try to summarize things happen in real life into determined
    | rules or theories.
  p
    | However, I'm not at all like those "child <s>programmer</s> hacker who built
    | <s>3</s> 15 iPhone apps while being only <s>14</s> 7 years old, of which used
    | machine learning and advanced 
    i &lt;insert technologies here&gt;
    |  in their awesome revolutionary iPhone app."
    +ref('Apple WWDC: meet Yuma, the 10-year-old Australian app developer who met Tim Cook', 'http://www.smh.com.au/technology/technology-news/apple-wwdc-10yearold-app-developer-from-melbourne-meets-tim-cook-20170605-gwkejp.html')
    +ref('This 9-year-old girl is the youngest developer at WWDC 2016', 'http://mashable.com/2016/06/13/anvitha-vijay-youngest-ios-developer-wwdc-2016/#goAUkiDNDmqg')
    +ref('The 15-year-old developer making a difference one app at a time', 'http://mashable.com/2017/06/04/amanda-aouthworth-wwdc-profile/#BWPm.0v5Maqi')
    +ref('years old developers - Google Search', 'https://www.google.com/search?q=young+developers&oq=young+developers')
    sup.refsup [and more]
