.tile-books#books
  h2 Books
  p
    | I read most of my books on 
    a(href="https://play.google.com/books") Google Play Books
    | . It allows me to read a several chapter sample before I decide to buy the book and read everything which is useful.
    | Another very good feature of Google Play is that it allows me to pay with gift card which I can buy on Taobao,
    | without needing a credit card ( non-adult can't have credit cards ).
    | Not every book I read is read on Google Play.
  p
    | I keep track of my books on 
    a(href="https://www.goodreads.com/user/show/60037725-mao-wtm")
      | My 
      img.goodreads(alt="Goodreads",src=mapStatic("/svg/goodreads.svg"))
      span.hiddenText Goodreads
      |  profile
    | . I haven't read a lot of books, but I'm trying to read more recently.
    | Reading is good because I can gain knowledge about other areas or social life. I can also read other's story and
    | apply useful thinkings to my own life.
