.tile-contact#contact
  h2 Contact
  p
    ul
      li
        | [Prefered] Email: 
        a(href="mailto:m@maowtm.org") m@maowtm.org
      li
        | For project related: GitHub issues
      li
        | Chating: telegram: 
        a(href='https://t.me/maowtm') @maowtm
