.tile-contact#contact
  h2 Contact
  p
    ul
      li
        | [Prefered] Email: 
        a(href="mailto:micromaomao@gmail.com") micromaomao@gmail.com
      li
        | For project related: GitHub issues
      li
        | IP (you don't use this to "<i>contact</i>" me right?): sp.maowtm.org ( ipv6 only )
