.tile-learning#learning
  h2 Currently Learning <small>( practising )</small>
  p.desc What I can't do without it and what I can do with it.
  h3 Drawing
  p
    | Just for fun. Sometimes I draw stick figure comics, sometimes
    | not-very-stick-figure-like stick figure comic, and sometimes stick figure
    | animation. Fun aside, it turns out to be a very useful skill sometimes.
    | However, my drawing skill is actually quite awful, perhaps I will find some
    | time to practice.
