.tile-learning#learning
  div
    | You may want to check out 
    a(href="#skills") some stuff I already know.
  h2 Currently Learning <small>( practising )</small>
  p.desc What I can't do without it and what I can do with it.
  h3 Application of Algorithm
  p
    | Maybe this is a very important skill for programming. Without it I can't solve interview
    | problems! By saying "Application", I mean the ability to solve complex (interview) problems
    | by making use of well-known algorithm and data structures (in a unique way).
  h3 Drawing
  p
    | Just for fun. Sometimes I draw stick figure comics, sometimes not-very-stick-figure-like stick
    | figure comic, and sometimes stick figure animation. Fun aside, it turns out to be a very useful
    | skill sometimes. However, my drawing skill, for non stick-figure, is awful, still practising.
  h3 Functional Programming
  p
    a(href="https://www.haskell.org/") Haskell
    | . Hoping that it will speed up my coding process. By far it is slowing down.
  p
    | You can check out 
    a(href="https://github.com/micromaomao/aabb-game/blob/master/aabb.hs") my first Haskell program
    | . Please give feedback if you know Haskell.
  h3 English
  p
    | Not only do I need to use this to communicate, I also need to use this to pass standardized test.
  h3
    code \#{school.getCurrentSubjects()}
  p
    | So I can pass standardized test!
  p
    | I'm not doing very well in school. I have two language subject: one is called Chinese, and
    | one is called English. I'm a native Chinese speaker, but my Chinese test score
    | is a little disappointing. ( and my English skill is also disappointing which means
    | I have no "mastered" language. )
  p
    | I have Math, Physics which I'm both doing well, but I also have 
    span.emp.shake chemistry
    |  which is another nightmare.
  p
    | Business is pretty <i>easy</i> ( compared to other subjects ). History is yet another nightmare.
