.tile-learning#learning
  div
    | You may want to check out 
    a(href="#skills") some stuff I already know.
  h2 Currently Learning <small>( practising )</small>
  p.desc What I can't do without it and what I can do with it.
  h3 Applications of Algorithm
  p
    | Maybe this is a very important skill for programming. Without it I can't solve
    | interview problems! By saying "applications", I mean the ability to solve
    | complex (interview or real world) problems by making use of well-known
    | algorithm and data structures (in a unique/unexpected way).
  h3 Drawing
  p
    | Just for fun. Sometimes I draw stick figure comics, sometimes
    | not-very-stick-figure-like stick figure comic, and sometimes stick figure
    | animation. Fun aside, it turns out to be a very useful skill sometimes.
    | However, my drawing skill is actually quite awful, perhaps I will find some
    | time to practice.
  h3 Functional Programming
  p
    a(href="https://www.haskell.org/") Haskell
    | . Hoping that it will speed up my coding process. By far it is slowing down.
  p
    | You can check out 
    a(href="https://github.com/micromaomao/aabb-game/blob/master/aabb.hs") my first Haskell program
    | . Please give feedback if you know Haskell.
  h3 English
  p
    | Not only do I need to use this to communicate, I also need to use this to pass standardized test.
  h3 School Subjects
  p
    | So I can pass standardized test!
  p
    | (I actually do reasonably well at school.)
  h3 Machine Learning
  p
    | After seeing the 
    a(href='https://www.youtube.com/watch?v=Y2VF8tmLFHw') Google I/O 2017
    |  I thought this may be a very useful skill to have.
