mixin project(name, builtWith, url, _tags, big)
  -let tags = _tags || [];
  mixin stattag()
    each tag in tags
      span.stattag= tag
      |  
  -let xtoclass = (x => "b-" + x.toLowerCase().replace(/\+/g, 'p').replace(/[^A-Za-z0-9]/g, ''))
  -let className = builtWith.map(xtoclass).join(' ')
  -let logo = null
  -if (big)
    -className += ' big'
    -if (typeof big === 'object') logo = big.logo
  li(class=className)
    -if (logo)
      .logo
        img(src=logo)
    mixin proj_main()
      -if (big)
        .stattags
          +stattag()
      h4
        -if (!big)
          +stattag()
        a(href=url)= name
      -if (!big)
        p
          block
      -else
        .desc-content
          block
      .builtwith
        each val, index in builtWith
          |  
          span(class="built " + xtoclass(val))= val
    -if (big)
      .main
        +proj_main()
          block
    -else
      +proj_main()
        block
  -if (big)
    br
.tile-project#projects
  h2 Projects
  p
    i Actually... I don't have many useful projects!😂
  p
    | I have a tons of little projects that I stooped maintaining as soon as development was finished. Those projects
    | are not worth mentioning here again. You can check these out on my 
    a(href='https://github.com/micromaomao?tab=repositories') GitHub profile
    | .
  p
    | Here are some significant stuff worth mentioning on my personal page (this page) that would demonstrate my skills on programming. 
  h3 Web Projects
  ul
    +project('SchSrch', ['Web', 'Javascript', 'Progressive Web Apps', 'node.js'],
      'https://schsrch.xyz/', ['In-progress', 'Lack testing'], {logo: mapStatic('/imgs/schsrch-icon.png')})
      p
        | This is my first <b>Progressive Web App</b>. By building this I learned about the common practises on building a Web App. I have made
        | it truly "Progressive" by making it in a way that is useable even when Javascript is disabled. It contains a <b>ServiceWorker</b> generated
        | via a Webpack plugin. I learned how <b>Webpack</b> works while building this project, and I also learned about keeping the running state of
        | an App by using 
        a(href='http://redux.js.org/') <b>Redux</b>
        | . I also learned some <b>optimization</b> technique for building a (near) 60fps UI. Give it a try - it should behave like an usual APP.
      p
        | This is a website that enables anyone to do full text search in all of CIE past papers. It has helped many of my classmates for
        | efficient revision. It also offers an robust syntax for searching a particular (set of) paper, which allows users to quickly found
        | the paper they want, without scrolling through a long list of all PDF files (which is what other past paper websites force user to do).
    +project("maowtm.org", ["Web", "node.js", "Javascript"],
      "https://github.com/micromaomao/maowtm.org", [], {logo: mapStatic('/svg/logo.svg')})
      p
        | This is my personal website running on my little server. It is built with <b>Nodejs</b> and I like Nodejs. I learned about building websites
        | with Nodejs and some Web best practises. I also learned <b>Sass</b> by using it in this project. I also follow a standard <b>coding style</b> in this project
        | for all Javascript.
      p
        | This website don't contain much useful stuff, just my personal things.
    +project("Brainfuck-tape", ["Javascript", "Web"], 'https://github.com/micromaomao/brainfuck-tape', ['Lack testing'])
      | This is an early project I built. The code may be childish and may look silly to experienced programmers.
      | It is a simple <b>BrainFuck</b> interpreter, with running code highlight, infinite* bidirectional tape,
      | tape monitoring...
  h3 Desktop Apps
  ul
    +project("Shanbay Desktop", ["Electron", "Web", "React", "Javascript", "node.js"],
      "https://github.com/micromaomao/Better-Shanbay", ["Lack testing"], true)
      p
        | This is my first non-trivial desktop App. It is built with Web stuff, and was packaged with <b>Electron</b>, which makes use of Chromium.
        | I started to try <b>React</b> while building this, and I also used <b>Webpack</b> for the first time while building this project. There is
        | one big problem - Electron Apps is very large in size of final package because of the Webkit included in the App, so it may be less practical.
      p
        | This App is a 
        a(href="https://shanbay.com") Shanbay
        |  desktop client, which was aimed to help you recite vocabulary. I don't recommend doing that except for emergency test purpose.
  h3 Command Line Utils
  ul
    +project('Ecbpass', ['Python'], 'https://github.com/micromaomao/ecbpass', ['Lack testing'])
      | I learned <b>Python</b> while building this. It is a simple tool that allows you to generate pseudorandom password for each site and no need
      | to store it or remember it.
    +project("Pomodoro-Timer", ["C++", "Linux"], "https://github.com/micromaomao/Pomodoro-Timer")
      | I learned about building stuff for <b>Linux</b> with <b>C++</b> with this project.
      | It is a not-simple-to-use, command line Pomodoro timer.
