extends /layout

block head
  title Mao Wtm
  meta(property='og:url', content='https://maowtm.org/Main_Page/')
  meta(property='og:type', content='article')
  meta(property='og:locale', content='en_US')
  meta(property='og:title', content='Mao Wtm')
  -const desc = "I'm a stupid programmer. Welcome to my 'anout' page."
  meta(name='description', content=desc)
  meta(property='og:description', content=desc)
  meta(property='og:image', content=mapStatic("imgs/logo.png"))

block content
  include /reflist.h.pug
  .top
  .maincontent
    p
      b.name maowtm
      +ref('This nickname is derived from my real name - 王庭茂 (Tingmao Wang).')
      |  is a&nbsp;
      span.cicon.icon-program
      u programmer
      |  known for absolutely nothing. Mao is an computer science&nbsp;
      u undergraduate student
      |  at&nbsp;
      a(href="https://ucl.ac.uk") University College London
      |  and is now&nbsp;
      span.cicon.icon-yr
      u #{age} years old
      +ref('Aug 21, 2001 to now - Wolfram|Alpha', 'https://www.wolframalpha.com/input/?i=Aug+21,+2001+to+now')
      | . Mao makes extensive uses of, and supports open source software.
      | For more information please check out my
      a(href='https://static.maowtm.org/cv.pdf') resume
      |  - I probably won't be updating this page anytime soon.
      | Mao especially enjoys coding in Rust and Python, and knows some C/C++, Go
      | JavaScript, Julia, Wolfram Language, Haskell, LaTeX, etc.
      | Mao does reasonably well academically so far. Mao sometime
      | has trouble dealing with emotions and social relationships, and might
      | be suffering from depression for a lot of reasons.
  .reflistcontain
    h2 References and Footnotes
    +reflist
