extends ../mainbase

block defines
  -
    const page = {
      title: 'Open Source Contributions',
      desc: 'There is none by far.'
    }

block text
  p
    | I haven't made any significant contributions to any projects not owned by me yet, but I will try.
