extends ../mainbase

block defines
  -
    const page = {
      title: 'Contacting Mao',
      desc: 'in a nutshell: m@maowtm.org'
    }

block text
  .__tableofcontents
  h2 Reaching me
  ul
    li
      | [Prefered] Email: 
      a(href="mailto:m@maowtm.org") m@maowtm.org
    li
      | For project related: GitHub issues
    li
      | Chating: telegram: 
      a(href='https://t.me/maowtm') @maowtm
    li
      | Twitter: 
      a(href='https://twitter.com/WtmMao') @WtmMao
  h2 Cryptography Keys
  a(id='pubkeys')
  h3 PGP
  pre
    | gpg --recv-keys 2B30339029E6CBD128779A876B8AA3FDC9DAF7AA
    | # this will probably do fine.
  h4 Key info
  pre
    | pub   rsa4096 2016-07-09 [SC]
    br
    |       2B30339029E6CBD128779A876B8AA3FDC9DAF7AA
    br
    | uid           [ultimate] Mao Wtm (https://maowtm.org) <micromaomao@gmail.com>
    br
    | sub   rsa4096 2016-07-09 [E]
  h4 Key
  a(href='/get-gpg-key/') Download
  br
  | Sha512: 
  code 0d1cda28879025f672c4b8a1c53f2a8680986e3f30671888670f4ab3ba9203c99c8c9b915af9ead48d469dfcf1215a12f6beeffbdbf1aa82f88e4cf66ebcf884
  h3 ssh
  pre.selectonclick
    | ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDHv3kbomGqBGN+TVic5bKIlcWq52Jb8DChRsqb2knj5J1sbAGDEnPKTAryESL6yVJhslLRiTlaA+xOFf7XY7+ehsXTecolMfy55+U+M0hJ9L61enNnHvM8UPEtsU1maC1vvJ6XAV+dc60A0M+2Rm9yC+5ELHZZP6IczflsahXazfBXS8lX0Qmwa1eGJwEa9w6DuXnVUan1O1GP0gaX7Miqox7rQAjfACqVdujzKLMZrxFqL9K8RqSA1Iy9HgeUo9L8WeqT08OXteJqr8TJtU5LuNZGNYriLPKQRCHt4fCxEvdR+n4ZODlrG6BzmAmV2lxGoN9YhpIzDBDWaiOLV/m0gItZW/JT0dO+O/3f4EJ0AUaoki6q6dGeQUxYOnCy4wc53ywCwb/QVdjWYkeJw0EJfGLjM/bCG30Qu/lyu725JqmwL3LR2MLxvzFfv0ip/OHXqIGpVnxxGCICEjw84VFKj+9s/KXFP/2Ns/cTL1toTmFA1HIAn79tN6XhEc8jHjQbmqIIgynor0UqSzNUlCxYjRYmdvFaO5IW/hJWrdm1ni86Oo+XnLf9pGA+5LmktxplXTqWKaFtL2Lx6VlVb1PrNbFGDiIe2H5RbBMlUHLP2lyyybpW66e4Dbnbm/t/uVcIuFqeA+/0HaYLj98jGerC77YK7GVgdqy+Jf9gPPUmuw==
  h3.inline Bitcoin
  .inlineprecontain
    pre.selectonclick
      | 12x5eN2kjCPxLeihHDUCSGUEZ1Bqd274jn
    | &nbsp;
    a(href='https://blockchain.info/address/12x5eN2kjCPxLeihHDUCSGUEZ1Bqd274jn') blockchain.info
  br
  h3.inline Ethereum
  .inlineprecontain
    pre.selectonclick
      | 0x5C1B7806da3CE36913c8753d5C10F74d5B753802
    | &nbsp;
    a(href='https://etherscan.io/address/0x5C1B7806da3CE36913c8753d5C10F74d5B753802') etherscan.io
