extends ../mainbase

block defines
  -
    const page = {
      title: 'Life Habits',
      desc: 'Good ways to keep me overall "well".'
    }

block text
  // TODO
  p Here's a list of things I do, or wish to do, that can make my life better.
  .__tableofcontents
  h2 Keeping a good health
  h3 Good sleep cycle
  h3 Exercise
  h2 Knowledge & being productive
  h3 Reading
  +sectionmainpage('Reading')
  h3 Keeping a journal
  h3 Try out more stuff in coding
  h3 Read other's code.
