extends ../mainbase

block defines
  -
    const page = {
      title: 'Thoughts as a Programmer',
      desc: 'What I believe, what I prefer, etc\u2026 Some personal opinions.'
    }

block text
  // TODO: Organize this page.
  +uselesswarn
  p
    | <b>I'm a programmer</b>. I have been writing code since my (damn
    +ref('Full of black history. Any of my classmate till IG1, as well as friends on Tieba can prove that.')
    | ) childhood.
    +ref("When I was really young, I don't even use things like git, and I certainly lost my early product. But it's mostly silly things like website made of Flash ActionScript.")
    |  Sometimes I consider myself an "<i>expert</i>" on programming, that I often
    | think I'm way better than the average programmer. But sometimes I do realize
    | that I'm actually way too far from being an true "<i>expert</i>".
    +ref("Skills / why you probably don't want to hire me", '#skills')
    |  I love open source and free culture and is welling to share most of the things
    | I created.
    +ref('GitHub repositories', 'https://github.com/micromaomao?tab=repositories', "People rarely find my stuff useful, but I posted it on GitHub so I won't lost it.")
    |  I have written a lot of code
    +ref('GitHub repositories', 'https://github.com/micromaomao?tab=repositories', "People rarely find my stuff useful, but I posted it on GitHub so I won't lost it.")
    +ref('Screenshot of `ls` on archives,', mapStatic('/imgs/old-project-archive-ls.png'), 'and that is not all. As I just said, most early works had been lost.')
    | , but most of them, especially those from my early years, often end up being
    | taken down from GitHub 1 or 2 years later by myself, usually because I think
    | the code were poorly written.
    +ref('Bad naming, bad syntax, bad logic, etc. Also, it is very likely for one to be biased on this and underestimate their code quality - thinking that they wrote rubbish but the stuff may actually be decent.')
    +ref('Just look at this code.', mapStatic('/imgs/archive-ugly-code-example-1.png'))
    +ref('You may also want to check out the naming in this more recent project.', 'https://github.com/micromaomao/opentieba/blob/master/JS/in-broswer.js#L43')
    |  I do keep them as archives on my drive and Google Drive, but I'm not willing to
    | share those.
    a(href='#projects') See my projects
    |  or 
    a(href='#skills') read more about my skills&hellip;
  p
    | I seems extremely paranoid about security. I even tried to isolate all
    | applications running on my computer and put them into separate Linux users (now
    | I only did that for stuff I download from places other than the Arch
    | Repository as that had caused massive inconvenience).
    +ref('Relevant screenshot', mapStatic('/imgs/separate-unix-id-citation.png'))
    |  Beside attackers, I take every step I can to prevent governments from messing
    | with my Internet and protect my data from them, including buying multiple VPNs
    sup.refsup [examples needed]
    |  and distrusting all Chinese certificate authority
    sup.refsup [screenshots needed]
    | . (In fact, I give no support
    | to the very idea of having governments regulate anything digital, and I support
    | Bitcoin and Ethereum as a daily currency. More on that later.)
  p
    | All website should be forced to use secure protocols such as HTTPS, and
    | Chromium seems to support this view.
    +ref('Google Online Security Blog: Moving towards a more secure web', 'https://security.googleblog.com/2016/09/moving-towards-more-secure-web.html', '- quote: "Eventually, we plan to label all HTTP pages as non-secure\u2026"')
  p
    | I often try to summarize things happened in real life into deterministic rules
    | or theories and try to make them as simple as possible. It can help me
    | understand the world better. However, by interpreting things this way many of
    | my friends find me quite strange. Many times I just can't understand a concept
    | easily understandable by others. Beside in real life, when I study subjects
    | like Physics I also try to interpret the rules in ways as simple as I can come
    | up with.
    sup.refsup [examples needed]
  p
    | I think Linux is the most suitable and useful OS for most programmers. It is
    | highly customizable and it relies on less "magic" than Windows. There are many
    | handy tools that does almost anything from Base64 to simple but strong
    | encryption, or video conversion with FFmpeg, available for use from the command
    | line. Shell script made simple maintaining tasks quick and easy. One is also
    | less likely to have security problems by using Linux, as for example, all
    | software is grabbed from a trusted repository instead of downloading from
    | Google search result. I agree that Windows Server is obviously not a good idea.
  p
    | Also, very importantly, I'm not at all like those "child <s>programmer</s>
    | hacker who built <s>3</s> 15 iPhone apps while being only <s>14</s> 7 years
    | old, of which used machine learning and advanced 
    i &lt;insert technologies here&gt;
    |  in their awesome and revolutionary iPhone app."
    +ref('Apple WWDC: meet Yuma, the 10-year-old Australian app developer who met Tim Cook', 'http://www.smh.com.au/technology/technology-news/apple-wwdc-10yearold-app-developer-from-melbourne-meets-tim-cook-20170605-gwkejp.html')
    +ref('This 9-year-old girl is the youngest developer at WWDC 2016', 'http://mashable.com/2016/06/13/anvitha-vijay-youngest-ios-developer-wwdc-2016/#goAUkiDNDmqg')
    +ref('The 15-year-old developer making a difference one app at a time', 'http://mashable.com/2017/06/04/amanda-aouthworth-wwdc-profile/#BWPm.0v5Maqi')
    +ref('years old developers - Google Search', 'https://www.google.com/search?q=young+developers&oq=young+developers')
    sup.refsup [and more]
    | I think these people are all overly-hyped by media. Often, when you actually
    | check out the stuff they make, you realize that it's actually quite trivial and
    | not worth mentioning
    sup.refsup [citation needed]
    |  (such as weather apps).

  h2 See also
  ul
    li
      a(href='/Projects') Projects
      | : Check out some of my good projects
    li
      a(href='/Programming_Skills') Programming Skills
      | : Some stuff I know.
