extends ../mainbase

block defines
  -
    const page = {
      title: 'Reading',
      desc: 'Why should I read (books, as well as news, blogs, Wikipedia and other stuff)?'
    }

block text
  p
    | Many people say that reading is important. Here is my thoughts and what I will
    | do. This article will start by thinking about how can reading anything
    | benefits.
  +personalopinion
  .__tableofcontents
  h2 You gain knowledge / insights.
  h2 You can experience more "life".
