extends ../mainbase

block defines
  -
    const page = {
      title: 'Resume',
      desc: 'Still in high school.'
    }

block text
  p
    | Still in high school. Likely to finish BSc Computer Science in 2022. Current&nbsp;
    a(href='https://www.manchester.ac.uk/') University of Manchester
    |  conditional offer holder and will likely study there.
