extends ../mainbase

block defines
  -
    const page = {
      title: 'School Subjects',
      desc: 'Words about subjects taught in high school.'
    }

block text
  .box.infobox
    | By May 2017, I'm in IG2. After this&nbsp;
    a(href='/holiday/s17/') summer holiday
    | , I will be in AS.
  p
    | This page describes:
  p
    | I do reasonably well on school subjects. Of the 8 subjects I listed here, I get
    | all A in the <b>mock</b> exam except chemistry. I took CIE for IGCSE in June
    | 2017, and the results are not yet available.
  .__tableofcontents
  h2 Math
  h3 How good am I at Math?
  p
    | Although I code, I'm not like those math wizards who is capable of
    | understanding and coming up with solutions to complicated and seemingly
    | unsolvable problems in a handful of seconds. I'm in fact not smart at all.
    | However it may seems that I do way better than most people around me at math.
    | That's because I have learned all those first year A level things on
    | Khanacademy/Coursera/Youtube before I went to IG2.
  h3 Why is math important?
  p
    | Math is probably the most important subject one should study. It can be used to
    | model nearly all kinds of things, help us predict events and make good
    | decisions. Nowadays nearly everything is based on some kind of math.
    +ref('The Map of Mathematics by Domain of Science - YouTube', 'https://www.youtube.com/watch?v=OmJ-4B-mS-Y')
    |  Math is used to model both the giant and the small in physics and chemistry.
    | Math is also used to analyze statistical data for economic and social science.
    | Cryptography, which itself is very fun to play around with, and have enabled us
    | to keep our data safe and ensure people don't break their promises, is based
    | extensively on math.
    +ref('Diffie–Hellman key exchange', 'https://en.wikipedia.org/wiki/Diffie%E2%80%93Hellman_key_exchange')
    +ref('RSA', 'https://en.wikipedia.org/w/index.php?title=RSA_(cryptosystem)')
    +ref('Hash functions', 'https://en.wikipedia.org/wiki/Hash_function')
    sup.refsup [and more]
    |  Understanding math also help one make rational decisions in complex
    | circumstances
    +ref('Probability', 'https://en.wikipedia.org/wiki/Probability')
    +ref('Game theory', 'https://en.wikipedia.org/wiki/Game_theory')
    |  , and math itself is like an art. One can almost always find some
    | uses of math whatever they do.
  h2 Physics
  p
    | Similar to math, I learn stuff in advance for Physics as well. This have allowed me
    | to think more in-depth during Physics lessons and I may, as a result of this, be
    | able to understand Physical concepts better.
  h3 Why is Physics important?
  p
    | Physics is useful because it enables human to understand the world we live in
    | better, and make use of "tricks" to benefit our lives
    +ref('Transistor', 'https://en.wikipedia.org/wiki/Transistor')
    +ref('Electric light', 'https://en.wikipedia.org/wiki/Electric_light')
    +ref('Microwave oven', 'https://en.wikipedia.org/wiki/Microwave_oven')
    sup.refsup [and more]
    | . By studying Physics, one can understand how the things we use work, and with
    | a good amount of Physics knowledge, one can build useful things to help
    | themselves or others. Physics in the deeper level, such as quantum mechanic,
    | feels beautiful. It's amazing how our universe came up with all these
    | mysterious rules of how matters behaves.
  h2 Chemistry
  p
    | <b>I HATE CHEMISTRY</b>. Seriously, I don't really understand why Chemistry may
    | be useful to me. I put few effort into getting good grades in Chemistry, and
    | this is the only subject where I got a grade below A.
  h2 History
  p
    | I does <i>kind of</i> well on this subject. By spending more time on this
    | subject than my other classmates, I'm able to get at least a decent A grade.
  p
    | I don't particularly <i>love</i> history, but I think it teaches you
    | interesting
    +ref('The 20th century is pretty exciting.', 'https://en.wikipedia.org/wiki/20th-century_events')
    +ref('The cold war is also pretty exciting.', 'https://en.wikipedia.org/wiki/1983_Soviet_nuclear_false_alarm_incident')
    |  and perhaps useful
    +ref('How to Launch a Nuclear Missile - Veritasium', 'https://www.youtube.com/watch?v=knDIENvBTgw')
    |  things. You can appreciate how our society has changed and is getting better.
    +ref('History of slavery', 'https://en.wikipedia.org/wiki/History_of_slavery')
    +ref("Timeline of women's legal rights (other than voting)", 'https://en.wikipedia.org/wiki/Timeline_of_women%27s_legal_rights_(other_than_voting)')
  p
    | History is also one of the subjects where they focus on "critical
    | thinking" - how to assess a statement objectively, or should I say, "in a
    | professional manner".
    +ref('Example questions', 'https://schsrch.xyz/search/?as=page&query=0470_s16_4_2')
    |  The thinking skills taught in this subject and in (the subject) Business have
    | in some ways changed the way I judge things in daily life.
  h2 Business
  p
    | Will have to see what grade I get for my IGCSE CIE. I'm not very confident on
    | this and my results are not stable over time.
  h2 English
  p
    | You probably already have an idea of how well my English is after reading these
    | words. I did pretty well in the exams.
  p
    | Personally, I think English is easier to learn than Chinese for a average
    | person. For Chinese you have to remember so many characters, and I never seems
    | to be able to write them correctly. Although English's spelling is also pretty
    | messed up, it's still generally simpler than Chinese.
