extends sub_main_layout

block script_jquery_0
    script(src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js")
block head
    link(rel="stylesheet",href="https://static.maowtm.org/main_site/about.css")
    script(src="https://jumpablejs.github.io/cdn/0.2.min.js")
    script(src="https://static.maowtm.org/main_site/about.js")
    script.
        window.fontneeded.push('/css?family=Lato:300');
    title About Mao

block location
    div About Mao

block content
    .fixed
    .data
        p You must have Javascript enabled to view it interactively.
        .a0 Scroll down...
        h1.a1
            img(src="https://img.maowtm.org/avatar.png?width=200")
            | Mao Wtm
        p.a2
            | Or, 王庭茂 is my Chinese name. ( Original name, I could say )
    .placeholder
