extends layout

block head
  title Mao Wtm

block content
  // TODO: Use client emoji lib cuz some browser don't have native emoji support!
  .top
    h1 Mao Wtm
    .quicklinks
      a(href="#bio") Me
      a(href="#projects") Projects
      a(href="#skills") Skills
      a(href="#progress") Progress
      a(href="#learning") Learning
      a(href="#books") Books
      a(href="#keys") Keys
      a(href="#contact") Contact
    .img-desc Brain sucked by algorithm problem
  include about/bio
  include about/projects
  include about/skills
  include about/progress
  include about/learning
  include about/books
  include about/keys
  include about/contact
