extends sub_main_layout

block script_jquery_0
    script(src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js")
block head
    link(rel="stylesheet",href="https://static.maowtm.org/main_site/about.css")
    script(src="https://jumpablejs.github.io/cdn/0.2.min.js")
    script(src="https://static.maowtm.org/main_site/about.js")
    script.
        window.fontneeded.push('/css?family=Lato:300');
        window.fontneeded.push('/css?family=Raleway');
    script(src="https://static.maowtm.org/main_site/acts.js")
    title About Mao

block location
    div About Mao

block content
    .fixed
    .data
        p You must have Javascript enabled to view it interactively.
        .a0
            h1 Welcome
            p Scroll down...
        h1.a1
            img(src="https://img.maowtm.org/avatar.png?width=200")
            | Mao Wtm
        p.a2
            | Or, 王庭茂 is my Chinese name. ( Original name, I could say )
        .b1
            img(src="https://img.maowtm.org/zh-dislike.png")
            h2 I don't like the Chinese language...
            p A really strange writing system. However it is my first language.
        .b2
            img(src="https://img.maowtm.org/en-like.png")
            h2 The English language is awesome!
        .c1
            .it
                img(src="https://img.maowtm.org/birthday-cake.png?width=50")
                h3.time.raw= new Date('2001-08-21 00:00:00 GMT+0800').getTime()
                p I can still be called as "child"! -w-
            .it
                img(src="https://img.maowtm.org/code.png?width=50")
                h3 Developer
                p
                    | Everyone should learn program!
            .it
                img(src="https://img.maowtm.org/lazy.png?width=50")
                h3 Great Laziness
                p
                    | Procrastinate like a pro.
    .placeholder
