extends sub_main_layout

block head
    title Public Identity
block location
    div Public Identity
block content
    :marked
        # My Public Identity

        **My email address is [micromaomao@gmail.com](mailto:micromaomao@gmail.com), you can always trust this website ( with HTTPS ) is mime.**

        ## Keys

        * SSH: `2048 SHA256:nc5BufHZKrQKepOinQiF7dkaaIAoUJRHx4nFCmKmvxQ mao@maomao (RSA)`

    pre
        | ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDn5l/KpBwux6BFoYvC7FFDL8PqPUitxL+9Wc69BIDzviYPOfyxhAoxrAlr0iBqiAKAS1+41Ievg2B4rOXUQuKubczboCa+2troneQY2XKYQmMrtzU1Rvbx6scfnc53+FaVMqEq2Pu/TSDXIkkypeyRnvHLLEnxViwC4Mib/YtrwFzaKwnV+twhANBVyOgk1NtdoWM08fJM87NxDcyCh3rKc4JiEg4pfVjkz46KzkOZDQnWYpPS6N6MnWSe+YHJDGmJ9+nkWs3wsePBWxB83UHguD2nWg7aDooiU86mVnza83vvMb09gVvcwX6++ENj4Ql6gbAGmiZBaal/zR30lWA1

    :marked
        ### GnuPG

        * Main key: [`67B4ECEA`](gpg/67B4ECEA)
        * Another key: [`2B5AF3B7`](gpg/2B5AF3B7)
        * Another key: [`32DE725D`](gpg/32DE725D)

        ## Address

        * Bitcoin: [`1D8NWkni6JbZyDip9LhJnqdNhXhpN9E5ia`](bitcoin:1D8NWkni6JbZyDip9LhJnqdNhXhpN9E5ia)

        ![QR Code](https://img.maowtm.org/bitcoin-mainaddr-qr.png)

        * Email: [micromaomao@gmail.com](mailto:micromaomao@gmail.com)
        * Website: [maowtm.org](https://maowtm.org)

        ## Account

        * Coinbase: `1BVySsctJ9SnSZt3SaU2Pb7bUSuMhc29tx`
        * Color-hex: [maowtm](http://www.color-hex.com/member/maowtm)
        * Evernote: 王庭茂
        * GitHub: [micromaomao](https://github.com/micromaomao)
        * Google: [118047452867706108316](https://plus.google.com/u/0/118047452867706108316)
        * Launchpad: [micromaomao](https://launchpad.net/~micromaomao)
        * Quora: [王庭茂-Wtm](https://www.quora.com/profile/%E7%8E%8B%E5%BA%AD%E8%8C%82-Wtm)
        * Reddit: [maowtm](https://www.reddit.com/u/maowtm)
        * Stack overflow: [maowtm](https://stackoverflow.com/users/4013790/%E7%8E%8B%E5%BA%AD%E8%8C%82) ( As long as cached, you may still see name 王庭茂 appear. )
        * Twitter: [@WtmMao](https://twitter.com/WtmMao)
        * Tumber: [maowtm]()
        * Youtube: [王庭茂](https://www.youtube.com/channel/UCen127v6IJF99ONrAkRQnZA)

        ### Chinese

        * Bilibili: 王庭茂, uid: 1862694
        * Shanbay: micromaomao (wtm)
        * (zhihu) 知乎: [王庭茂](http://www.zhihu.com/people/maowtm)
