extends sub_main_layout

block head
    link(rel="stylesheet",href="https://static.maowtm.org/main_site/error.css")
    title Oops...

block content
    h1= error.toString()
    pre
        =error.stack?error.stack:error.toString() + '\n    No stack'
        | 
        | URL: 
        =req.protocol
        | ://
        =req.hostname
        =req.originalUrl
        | 
        | Method: 
        =req.method
    p
        a(href="https://github.com/micromaomao/maowtm.org/issues") Report issue on GitHub
        |  / 
        a(href="/") Home page
