extends holiday.h.pug

block defines
  -
    const start = new Date('2018-06-06 14:00:00 GMT+0800')
    const end = new Date('2018-08-13 00:00:00 GMT+0800')
    const season = 's18'
    const classstate = ['AS', 'A2']

    const signingLogs = [
      /* signed: true, message: 'Hi!', nTask: 2 */
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false }
    ]

block signing
  .placeholder Todo
