extends holiday.h.pug

block defines
  -
    const start = new Date('2018-06-06 14:00:00 GMT+0800')
    const end = new Date('2018-08-13 00:00:00 GMT+0800')
    const season = 's18'
    const classstate = ['AS', 'A2']

    const signingLogs = [
      /* signed: true, message: 'Hi!', nTask: 2 */
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false },
      { signed: false }
    ]

block signing
  .placeholder Todo

block additional
  .plans.content#plans
    h2 Things to get done
    ul
      li
        | Study economics
        .subtasks
          .progress
            .block.undone
            .block.undone
            .block.undone
            .block.undone
            span.space
            .block.undone
            .block.undone
            .block.undone
            .block.undone
      li
        | Prepare for SAT
        .subtasks
          .progress
            .block.undone
            .block.undone
            span.space
            .block.undone
            .block.undone
            span.space
            .block.undone
            .block.undone
            span.space
            .block.undone
            .block.undone
            span.space
            .block.undone
            .block.undone
            span.space
            .block.undone
            .block.undone
      li
        | Learn Japanese
        .subtasks
          .progress
            .block.undone
            .block.undone
            .block.undone
            .block.undone
            .block.undone
            .block.undone
            .block.undone
            span.space
            .block.undone
            .block.undone
            .block.undone
            .block.undone
            .block.undone
            .block.undone
            .block.undone
            span.space
            .block.undone
            .block.undone
            .block.undone
            .block.undone
            .block.undone
            .block.undone
            .block.undone
      li
        | Perparation for further math
        .subtasks
          .progress
            | M2:&nbsp;
            .block.undone
            .block.undone
            .block.undone
            .block.undone
            .block.undone
            span.space
            | S2:&nbsp;
            .block.undone
            .block.undone
            .block.undone
            .block.undone
            .block.undone
      li
        | Draft PS
        .subtasks
          .progress
            .block.undone
            .block.undone
            .block.undone
      li
        | SchSrch refactor & development
        .subtasks
          .progress
            .block.undone
            .block.undone
            span.space
            .block.undone
            .block.undone
            span.space
            .block.undone
            .block.undone
            span.space
            .block.undone
      li
        | Linear algebra
        .subtasks
          .progress
            .block.optional
            .block.optional
            span.space
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
      li
        | Solve STEP problems
        .subtasks
          .progress
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            span.space
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            span.space
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            span.space
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            span.space
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
            .block.optional
