extends holiday.h.pug

block defines
  -
    const start = new Date('2017-06-05 12:00:00 GMT+0800')
    const end = new Date('2017-08-14 GMT+0800')
    const season = 's17'
    const classstate = ['IG2', 'AS']

    const signingLogs = [
      /* signed: true, message: 'Hi!', nTask: 2 */
      { signed: true, nTask: 1,
        message: 'Whoooooo! Finally every CIE exam for this year is over, and the summer holiday is about to start! ' +
          'I really hope that this plan will work well throughout the entire holiday, helping me to get all my work done. ' +
          "I watched the <a href='https://en.wikipedia.org/wiki/Doraemon_the_Movie_2017:_Great_Adventure_in_the_Antarctic_Kachi_Kochi'>" +
          'new Doraemon movie</a>, the adventure in the antarctic thing. Pretty fun to watch, and I will be looking ' +
          'forward to the movie of next year.<br>' +
          'I did managed to get my plan started by the first day of this summer holiday, and the first day is hereby ' +
          'signed. I read the first chapter of The Extended Phenotype.'}, /* day 0 */
      { signed: true, nTask: 1,
        message: "A lazy day - didn't do much work. I keep telling myself that this is just the second day of the " +
          'summer holiday and there are huge amount of time left so no need to worry, and I ended up watching YouTube ' +
          'for essentially the entire day. I did achieved the minimum standard for signing today - learned ' +
          'differential equations on KhanAcademy and spent 20 minutes exercising. This is actually a good sign that ' +
          'this signing system may work really well.'}, /* day 1 */
      { signed: true, nTask: 1,
        message: "Today I'm a little bit more productive than yesterday, but still not good enough. I spent the " +
          'morning writing code for this website and made it work on node 8. Then I spent pretty much all of the ' +
          'rest of the day watching YouTube. I even watched 3 episode of Doraemon and 1 episode of ' +
          '<a href="https://en.wikipedia.org/wiki/Crayon_Shin-chan">Crayon Shin-chan</a>. I did finally learned ' +
          'some sociology so that I can sign today.'}, /* day 2 */
      { signed: true, nTask: 2,
        message: 'Again a lazy day, although finally managed to complete some simple tasks to sign the day. My ' +
          'productivity was completely destroyed by YouTube. I spent a lot of time watching useless things such ' +
          "as Apple/Google/Microsoft product reviews, the WWDC and the Google I/O, and even some Google's past  " +
          "April fool jokes. This must be stopped. I'm planing to go to some coffee shop tomorrow so that I " +
          "won't be able to watch YouTube and will therefore get some of my work done (as well as enjoying some " +
          "tasty icecram).<br>BTW, I will admit that I had cheated a little on the \"workout\" part. Just a " +
          'little.'}, /* day 3 */
      { signed: true, nTask: 3,
        message: 'Today, yet again, I devoted most of my time into YouTube. I did found some good insight and ' +
          "resources on it, but I spent way too much time on it that I'm not able to follow my plan and get " +
          "much work done. This really need to be stopped. I'm glad that I still managed to complete at least " +
          "a bit of physics studying, but that's too easy work."}, /* day 4 */
      { signed: true, nTask: 1,
        message: "Although I didn't completed much tasks today, I learned a lot about digital logic and how " +
          "8-bit CPUs worked, and I realized that it's actually not very complicated if you look at it piece-" +
          'by-piece. The control unit, which I previously thought may be the most complicated part, is actually ' +
          'the simplest part. This is all thanks to a <a href="https://www.youtube.com/channel/UCS0N5baNlQWJCUrhCEo8WlA">' +
          'great YouTube channel</a>. I strongly recommend it for those interested in learning about breadboard ' +
          'circuit or how CPU generally works.'}, /* day 5 */
      {}, /* day 6 */
      {}, /* day 7 */
      {}, /* day 8 */
      {}, /* day 9 */
      {}, /* day 10 */
      {}, /* day 11 */
      {}, /* day 12 */
      {}, /* day 13 */
      {}, /* day 14 */
      {}, /* day 15 */
      {}, /* day 16 */
      {}, /* day 17 */
      {}, /* day 18 */
      {}, /* day 19 */
      {}, /* day 20 */
      {}, /* day 21 */
      {}, /* day 22 */
      {}, /* day 23 */
      {}, /* day 24 */
      {}, /* day 25 */
      {}, /* day 26 */
      {}, /* day 27 */
      {}, /* day 28 */
      {}, /* day 29 */
      {}, /* day 30 */
      {}, /* day 31 */
      {}, /* day 32 */
      {}, /* day 33 */
      {}, /* day 34 */
      {}, /* day 35 */
      {}, /* day 36 */
      {}, /* day 37 */
      {}, /* day 38 */
      {}, /* day 39 */
      {}, /* day 40 */
      {}, /* day 41 */
      {}, /* day 42 */
      {}, /* day 43 */
      {}, /* day 44 */
      {}, /* day 45 */
      {}, /* day 46 */
      {}, /* day 47 */
      {}, /* day 48 */
      {}, /* day 49 */
      {}, /* day 50 */
      {}, /* day 51 */
      {}, /* day 52 */
      {}, /* day 53 */
      {}, /* day 54 */
      {}, /* day 55 */
      {}, /* day 56 */
      {}, /* day 57 */
      {}, /* day 58 */
      {}, /* day 59 */
      {}, /* day 60 */
      {}, /* day 61 */
      {}, /* day 62 */
      {}, /* day 63 */
      {}, /* day 64 */
      {}, /* day 65 */
      {}, /* day 66 */
      {}, /* day 67 */
      {}, /* day 68 */
      {}  /* day 69 */
    ]

block additional
  .plans.content#plans
    h2 Things to get done
    p
      | I will try to divide all big tasks into small, achievable sub-tasks, so that
      | infinite procrastination is less likely to happen.
    h3 Top priority
    ul
      li
        h4 Study AS subjects in advance.
        h5 Why?
        p
          | I’m a bit interested in sociology, and pre-learning some AS physics and math is
          | also going to be useful since these subjects requires much mental work on
          | understanding. No need for full scale study and getting 100% on past papers,
          | just an introductory style is enough.
        .subtasks
          h5 Sub tasks
          ul
            li
              | <b>Sociology</b>: Watch and understand 
              a(href='https://www.youtube.com/playlist?list=PL8dPuuaLjXtMJ-AfB_7J1538YKWkZAnGA') CrashCourse Sociology
              |  videos.
              .progress
                -for (let i = 0; i < 12; i ++)
                  span(class='block ' + (i < 9 ? 'done' : 'undone'))
                |  (12 videos)
            li
              | <b>Physics</b>: Read through the textbook / 
              a(href='http://www.cie.org.uk/Images/329533-2019-2021-syllabus.pdf') syllabus
              |  or past papers of the relevant physics unit.
              .progress
                -const physicsUnitsProgress = [1, 1, 1, 1, 0, 0, 0, 0, 0, 0]
                -// State: 0 - undone, 1 - done
                each state in physicsUnitsProgress
                  span(class='block ' + (state === 0 ? 'undone' : (state === 1 ? 'done' : 'unknow')))
                |  (#{physicsUnitsProgress.length} units required)
      li
        h4 Learn differential equations.
        h5 Why?
        p
          | For fun. Plus I always wanted to learn some advanced maths.
        .subtasks
          h5 Sub tasks
          ul
            li
              | Complete 
              a(href='https://www.khanacademy.org/math/differential-equations') KhanAcademy differential equations topics
              | .
              .progress
                -const khDEProgress = [1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                -// State: 0 - undone, 1 - done
                each state in khDEProgress
                  span(class='block ' + (state === 0 ? 'undone' : (state === 1 ? 'done' : 'unknow')))
                |  (#{khDEProgress.length} sub-topics)
      li
        h4 Decide which country am I going for university and do relevant preparation.
        h5 Why?
        p
          | As many students, teachers and parents often said, preparation should start as
          | early as possible. I haven't (even) fully decided the overall direction yet, so
          | I should act fast.
        .subtasks
          h5 Sub tasks
          ul
            li
              | Understand the difference between UK, US and Hong Kong, especially in computer science studies.
              .progress
                .block.undone
                |  (research and advice-seeking)
            li
              | Target on one or a few university in that country, learning its strength, environments and requirements.
              .progress
                .block.undone
                .block.undone
                .block.undone
                |  (several times of research and advice-seeking)
            li
              | Prepare for the respective university. (e.g. doing SAT / TOEFL)
              .progress
                | (Difficulty not yet known.)
      li
        h4 Complete my first neural network.
        h5 Why?
        p
          | For long time I always wanted to learn and make use of machine learning. I had
          | already made a bit of progress on that. Inspired by the Google I/O 2017, I
          | think machine learning is likely going to be a very useful skill in the future.
          | In addition to helping me do more with code, having some skills in machine
          | learning could also help me find a job.
        .subtasks
          h5 Sub tasks
          ul
            li
              | Build a network 
              a(href='https://www.youtube.com/playlist?list=PLiaHhY2iBX9hdHaRr6b7XevZtgZRa1PoU')
                |  estimating test score based on the hours spent sleeping and studying last day
              |  without TensorFlow.
              .progress.inline
                .block.undone
            li
              | Learn basic 
              a(href='https://www.tensorflow.org/') TensorFlow
              |  usage and build the same network with TensorFlow.
              .progress.inline
                .block.undone
            li
              | Build a network to classify black-and-white images. Possible example: 
              a(href='https://www.tensorflow.org/get_started/mnist/beginners') MNIST For ML Beginners
              .progress.inline
                .block.undone
            li
              | Build a network to classify words.
              .progress.inline
                .block.undone
            li
              | Learn how to train network with colored images and common ML techniques.
              .progress.inline
                .block.undone
            li
              | Build and train a network to auto generate paper dirs.
              .progress.inline
                .block.optional
                |  (Optional)
      li
        h4 Build a basic collection system for SchSrch.
        h5 Why?
        p
          | Many of SchSrch's user had asked for this feature for months.
        .subtasks
          h5 Sub tasks
          ul
            li
              | Build a basic savable plain-text only notepad, saving data on the cloud with named documents.
              .progress.inline
                .block.undone
            li
              | Build a login system and apply it to the notepad.
              .progress.inline
                .block.undone
            li
              | Build support for formatting and putting images and paper crops into the notepad.
              .progress.inline
                .block.undone
            li
              | Build support for annotating on the paper crops.
              .progress.inline
                .block.undone
            li
              | Build sharing mechanism.
              .progress.inline
                .block.undone
      li
        h4 Finish at least one more book.
        h5 Why?
        p
          | Many people I know seems to have read a lot of books, and I frequently hear
          | people saying that reading books is better than reading ZhiHu or other online
          | stuff.
        .subtasks
          h5 Sub tasks
          ul
            li
              a(href='https://www.goodreads.com/book/show/61538.The_Extended_Phenotype')
                | The Extended Phenotype: The Long Reach of the Gene
              .progress
                -for (let i = 0; i < 15; i ++)
                  div(class='block ' + (i < 1 ? 'done' : (i === 14 ? 'optional' : 'undone')))
                |  (14 chapters + one optional afterword)
    h3#plans-optional Optional
    p
      | I may or may not complete these, depending on my time availability.
    ul
      li
        h4 Write unit tests for older projects.
        h5 Why?
        p
          | Tests are good ways to ensure code quality. I may even consider completely
          | refactoring some of those, so that ugly code won't put me in shame, especially
          | if I'm going to use them to apply for university.
        .subtasks
          h5 Sub tasks
          ul
            li
              a(href="https://github.com/micromaomao/aabb-game")
                | aabb-game
              .progress.inline
                .block.undone
            li
              a(href="https://github.com/micromaomao/brainfuck-tape")
                | brainfuck-tape
              .progress
                | Refactor: 
                .block.undone
                | Test: 
                .block.undone
            li
              a(href="https://github.com/micromaomao/Braintools")
                | Braintools
              .progress.inline
                .block.undone
            li
              a(href="https://github.com/micromaomao/Chunk-chunk")
                | Chunk-chunk
              .progress.inline
                .block.undone
            li
              a(href="https://github.com/micromaomao/ecbpass")
                | ecbpass
              .progress.inline
                .block.undone
            li
              a(href="https://github.com/micromaomao/findHash")
                | findHash
              .progress.inline
                .block.undone
            li
              a(href="https://github.com/micromaomao/flipblock")
                | flipblock
              .progress.inline
                .block.undone
            li
              a(href="https://github.com/micromaomao/matchgame")
                | matchgame
              .progress
                | Refactor: 
                .block.undone
                | Test: 
                .block.undone
            li
              a(href="https://github.com/micromaomao/Minesweeper")
                | Minesweeper
              .progress.inline
                .block.undone
      li
        h4 Start a YouTube channel.
        h5 Why?
        p
          | It may not earn me much money but I could gain some popularity, which is great
          | for university application and self-esteem.
      li
        h4 Practice sketching.
        h5 Why?
        p
          | Doesn't it feel wonderful if a coder also know how to draw beautiful pictures /
          | comics in addition to writing great code? I have always wanted (and tried for
          | several times) to learn drawing. It helps me illustrate my ideas.
    h2 Changes to pursue
    h3 Lifestyle
    ul
      li
        h4 Have early and regular sleep and wake up at reasonable time.
        h5 Why?
        p
          | Staying up till 2:00 is destructive to the mind state and the ability to focus
          | on the next day and doing this on a weekly basis is also destructive to health.
        h5 How?
        p
          | <del>Go to bed</del> <b>Start sleeping</b> at time between 22:00 and 23:00, and
          | <del>get up</del> <b>stop sleeping</b> before 9:00 the next morning.
      li
        h4 Daily workout.
        h5 Why?
        p
          | Staying in home completely for 3 weeks in a row isn't good to health either.
          | Our body seems to need exercise regularly, even for 15 minutes a day, otherwise
          | it gets sick.
        h5 How?
        p
          | It can comes in forms of biking, running or other kinds of activities, as long
          | as it requires some intense physical effort. Therefore, walking don't count. To
          | sign a day, at least one of these activities have to be carried out on purpose.
    h3 Work
    ul
      li
        h4 Blog frequently.
        h5 Why?
        ol.blogthreereasons
          li Express ideas.
          li Opportunity to gain popularity.
          li Can show blog to recruiter.

block signing
  p
    | If a day passed is "signed", that means I have made progress that day and all
    | changes I want to take, such as sleeping early, are implemented successfully
    | that day. The condition for signing a day is that all changes need to be made
    | properly, such as going to bed earlier than 23:00, and at least one undone
    | block (
    span.block.undone
    | ) must be done (
    span.block.done
    | ) that day. Optional blocks (
    span.block.optional
    | ) doesn't count.
