extends holiday.h.pug

block defines
  -
    const start = new Date('2017-06-05 12:00:00 GMT+0800')
    const end = new Date('2017-08-14 GMT+0800')
    const season = 's17'
    const classstate = ['IG2', 'AS']

block additional
  .plans.content
    h2 Things to get done
    p
      | I will try to divide all big tasks into small, achievable sub-tasks, so that
      | infinite procrastination is less likely to happen.
    h3 Top priority
    ul
      li
        h4 Study AS subjects in advance.
        h5 Why?
        p
          | I’m a bit interested in sociology, and pre-learning some AS physics and math is
          | also going to be useful since these subjects requires much mental work on
          | understanding. No need for full scale study and getting 100% on past papers,
          | just an introductory style is enough.
        .subtasks
          h5 Sub tasks
          ul
            li
              | Watch and understand 
              a(href='https://www.youtube.com/playlist?list=PL8dPuuaLjXtMJ-AfB_7J1538YKWkZAnGA') CrashCourse Sociology
              |  videos.
              .progress
                -for (let i = 0; i < 12; i ++)
                  span(class='block ' + (i < 7 ? 'done' : 'undone'))
                |  (12 videos * ~20 min each)
            li
              | Read through the textbook / syllabus or past papers of the relevant physics unit.
              .progress
                -const physicsUnitsProgress = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                -// State: 0 - undone, 1 - done
                each state in physicsUnitsProgress
                  span(class='block ' + (state === 0 ? 'undone' : (state === 1 ? 'done' : 'unknow')))
                |  (#{physicsUnitsProgress.length} units required * ~0.33-3 hours each)
      li
        h4 Learn differential equations.
        h5 Why?
        p
          | For fun. Plus I always wanted to learn some advanced maths.
        .subtasks
          h5 Sub tasks
          ul
            li
              | Complete KhanAcademy differential equations topics.
              .progress
                -const khDEProgress = [1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
                -// State: 0 - undone, 1 - done
                each state in khDEProgress
                  span(class='block ' + (state === 0 ? 'undone' : (state === 1 ? 'done' : 'unknow')))
                |  (#{khDEProgress.length} sub-topics * ~0.5-2 hours each)
      li
        h4 Decide which country am I going for university and do relevant preparation.
        h5 Why?
        p
          | As many students, teachers and parents often said, preparation should start as
          | early as possible. I haven't (even) fully decided the overall direction yet, so
          | I should act fast.
        .subtasks
          h5 Sub tasks
          ul
            li
              | Understand the difference between UK, US and Hong Kong, especially in computer science studies.
              .progress
                .block.undone
                |  (a hour of research and advice-seeking)
            li
              | Target on one or a few university in that country, learning its strength, environments and requirements.
              .progress
                .block.undone
                |  (several hours of research and advice-seeking)
            li
              | Prepare for the respective university. (e.g. doing SAT / TOEFL)
              .progress
                | (Difficulty not yet known.)
      li
        h4 Complete my first neural network.
        h5 Why?
        p
          | For long time I always wanted to learn and make use of machine learning. I had
          | already made a bit of progress on that. Inspired by the Google I/O 2017, I
          | think machine learning is likely going to be a very useful skill in the future.
          | In addition to helping me do more with code, having some skills in machine
          | learning could also help me find a job.
      li
        h4 Build a basic collection system for SchSrch.
        h5 Why?
        p
          | Many of SchSrch's user had asked for this feature for months.
      li
        h4 Finish at least one more book.
        h5 Why?
        p
          | Many people I know seems to have read a lot of books, and I frequently hear
          | people saying that reading books is better than reading ZhiHu or other online
          | stuff.
    h3 Optional
    p
      | I may or may not complete these, depending on my time availability.
    ul
      li
        h4 Write unit tests for older projects.
        h5 Why?
        p
          | Tests are good ways to ensure code quality. I may even consider completely
          | refactoring some of those, so that ugly code won't put me in shame, especially
          | if I'm going to use them to apply for university.
      li
        h4 Start a YouTube channel.
        h5 Why?
        p
          | It may not earn me much money but I could gain some popularity, which is great
          | for university application and self-esteem.
      li
        h4 Practice sketching.
        h5 Why?
        p
          | Doesn't it feel wonderful if a coder also know how to draw beautiful pictures /
          | comics in addition to writing great code? I have always wanted (and tried for
          | several times) to learn drawing. It helps me illustrate my ideas.
    h2 Changes to pursue
    h3 Lifestyle
    ul
      li
        h4 Have early and regular sleep and wake up at reasonable time.
        h5 Why?
        p
          | Staying up till 2:00 is destructive to the mind state and the ability to focus
          | on the next day and doing this on a weekly basis is also destructive to health.
        h5 How?
        p
          | Go to bed at time between 22:00 and 23:00, and get up before 9:00 the next morning.
      li
        h4 Daily workout.
        h5 Why?
        p
          | Staying in home completely for 3 weeks in a row isn't good to health either.
          | Our body seems to need exercise regularly otherwise it gets sick.
        h5 How?
        p
          | It can comes in forms of biking, running or other kinds of activities. Just try
          | to do some, even for 15 minutes, every day.
    h3 Work
    ul
      li
        h4 Blog frequently.
        h5 Why?
        ol.blogthreereasons
          li Express ideas.
          li Opportunity to gain popularity.
          li Can show blog to recruiter.
