extends layout

block head
  title Mao Wtm

block content
  h1 MaoWtm
  .contact.content
    | Reach me via&nbsp;
    .acontain
      a(href='mailto:m@maowtm.org') m@maowtm.org
    | .
  .links.content
    .acontain
      a(href='https://blog.maowtm.org') Blog posts
    .acontain
      a(href=mapStatic('/cv.pdf')) Resume
    .acontain
      a(href='/About_me') About
    .acontain
      a(href='https://github.com/micromaomao/') Github
    .acontain
      a(href='/Artworks') Artworks
    hr
    .acontain
      a(href='https://t.me/maowtm') Telegram
    .acontain
      a(href='https://keybase.io/maowtm') Keybase
    .acontain
      a(href='https://twitter.com/WtmMao') Twitter
    .acontain
      a(href=mapStatic('/key.gpg')) GPG Key
    hr
    .acontain
      a(href='https://paper.sc') paper.sc

  .smalllinks.content
    a(rel="me",href="https://mas.to/@mao") Mastodon
