extends sub_main_layout

block head
    title= title
    link(rel="stylesheet",href="https://static.maowtm.org/main_site/htmlstuff.css")
    script.
        $(function() {
            var ifr = $('iframe')[0];
            setInterval(function() {
                ifr.contentWindow.focus();
            }, 100);
            window.reloadframe = function() {
                var src = ifr.src;
                ifr.src = "";
                ifr.src = src;
            };
        });

block location
    div
        a(href="/tag/html-stuff/") HTML Stuff
    div= title
    |  (&nbsp;
    a(onclick="reloadframe()",href="javascript:void();") Reload
    | &nbsp;)

block content
    iframe(src=src,frameborder="0",marginheight="0",marginwidth="0",allowfullscreen="true")
        | It seems that iframe won't load. The original page is at #{src} .
