extends sub_main_layout

block head
    title Coming soon...
block location
    div index
block content
    h1 Hello world
    p
        | Hi! This is my website (maowtm.org), but I'm currently building it and it don't even have a
        | index page yet. My blog is currently at
        !="&nbsp;"
        a(href="https://micromaomao.github.io/") micromaomao.github.io
        !="&nbsp;"
        | .
