extends sub_main_layout

block head
    title Mao Wtm
    link(rel="stylesheet",href="https://static.maowtm.org/main_site/index.css")
    script(src="https://static.maowtm.org/main_site/index.js")
block header_0
    img.index-avatar(src="https://img.maowtm.org/avatar.png?width=200")
    h1.index-h1
        span.mline
        | Mao Wtm
        span.mline
    .index-info
        a(href="mailto:micromaomao@gmail.com",target="_blank") micromaomao@gmail.com
        .dot
        a(href="https://github.com/micromaomao") Github
        .dot
        a(href="auth") Public Identity
block location
    div index
block content
    h1 Activities
    .actpr
        .act
            .evt
                .time Sat Jan 30 2016 21:13:00 GMT+0800
                p.desc
                    | Created a activities list on the index page of 
                    a(href="https://maowtm.org/") maowtm.org
                    | .
            .evt
                .time Sat Jan 30 2016 14:00:00 GMT+0800
                p.desc
                    | Created a 
                    a(href="https://maowtm.org/countdown/spring-holiday/end/") countdown for my holiday
                    | .
            .evt
                .time Sat Jan 23 2016 23:19:28 GMT+0800
                p.desc
                    | Moved the 
                    a(href="https://maowtm.org/auth/") Public Identity
                    |  page to maowtm.org
