extends layout

block head
    title Mao Wtm

block content
    .top
        h1 Mao Wtm
        .quicklinks
            a(href="resume/") Resume
            a(href="blog/") Blog
            a(href="tweets/") Tweets
            a(href="contact/") Contact
        .img-desc Brain sucked by algorithm problem
    .tile-welcome
        h2
            | Welcome, and nice to meet you!
            .currently I'm currently:
        ul.current-list
            li
                .icon-igcse
                .desc A high school student
            li
                .icon-sz
                .desc Living in Shenzhen, China
            li
                .icon-yr
                .desc #{age} years old
    .tile-skill
        .pad
            h2 Skills
            .till As of July, 2016
            .tldr
                span.tldr-start Tl;dr:
                | &nbsp;I understand and can use some common tools and follow some standards
                | of orgainzing code. I can build Web and Android application also native
                | Linux application using C++. I can also write scripts with Python or Node.js.
                | I can't ensure my code is entirly human-readable and I can't solve these smart
                | computational problems you see in job interview without brute-force. I don't
                | really understand algorithm and data structure but are currently learning. I'm
                | trying my best to coverage my code with test cases.
                //- TODO: add .tldr-show support
            ul
                li
                    h3 <i>( General )</i> Programming
                    p.
                        My programming skill, I believe, is like <i>"a little better than
                        average"</i>. I begin to write code since 8 years old, which is about
                        #{age-8.5} years ago now. From dumb to <i><del>smart </del>not dumb</i>.
                        I have experience with <i>some</i> major programming technique
                        <i>( standards )</i>
                        like <a href="https://git-scm.com/">Git</a><a href="https://github.com">(Hub)</a>
                        and <a href="https://www.gnu.org/software/make/">GNU Make</a>, etc.,
                        and I know how to organize my code properly. I have a goodly amount
                        of experience with Linux, and some command line tools,
                        and can manage a Linux server properly. I also understand the concept of
                        unit testing ( and code coverage )
                        and <a href="https://travis-ci.org/micromaomao/maowtm.org">had done
                        it for <i>some</i> of my projects</a>, and will try to write test for
                        every project of mime.
                    p.
                        However, I'm (currently) weak on algorithm, data structures or
                        <i>"problem solving skills"</i> and can't
                        solve most of the <i>interview questions that every programmer is
                        supposed to be able to solve</i> ( You know what I mean, some strange problem
                        that require you to solve in time better than <code>O(N^2)</code>, aka.
                        not brute forcing. ).
                    p.
                        Also I'm having problem with writing human-readable and comprehensible
                        code. Sometimes my code don't even make sense to me <i>quickly</i>.
                li
                    h3 Skill around a platform/api/lib
                    p.
                        I have like 4 years of experience
                        with <a href="https://developer.mozilla.org/en-US/">web technology</a>.
                        ( also actual <i>technology</i>
                        like <a href="http://threejs.org/examples/#webgl_geometry_cube">WebGL</a>.
                        ) Pretty much every UI I built is based on web technology
                        ( like html(5)+css(3)+js ) which means I actually have little
                        experience on building native UI application ( except with C# on Windows ).
                        I'm recently learning Android. BTW I'm also
                        including <a href="https://nodejs.org">node.js</a>.
                    p.
                        I probably have enough-to-use C++<i>11</i> with Linux programming skill.
                        In my opinion, even C++ is very low-leveled and sometimes feel uncomfortable
                        dealing with, but I can write out a C++ version of most Javascript/Python
                        program I've wroted. It just takes a <i>little</i> more time and may introduce
                        a <i>little</i> more bug.
                    p
                        | I also know how to use: [ <a href="https://www.python.org/">Python</a>,
                        | <a href="https://en.wikipedia.org/wiki/SQL">SQL</a>,
                        | <a href="https://www.ruby-lang.org/en/">Ruby</a>,
                        | <a href="https://www.gnu.org/software/bash/">Bash</a>,
                        | <a href="https://en.wikipedia.org/wiki/Java_(programming_language)">Java</a>,
                        | ... ]. Language is easy to learn.
