extends layout

block head
    title Mao Wtm

block content
    .top
        h1 Mao Wtm
        blockquote #{"<Albert Einstein>"} <i>The more I learn, the more I realize how much I don't know.</i>
        .quicklinks
            a(href="#skills") Resume
            a(href="blog/") Blog
            a(href="tweets/") Tweets
            a(href="contact/") Contact
        .img-desc Brain sucked by algorithm problem
    include index/bio
    include index/projects
    include index/skills
