extends sub_main_layout

block head
    title Coming soon...
    link(rel="stylesheet",href="https://static.maowtm.org/main_site/index.css")
block header_0
    img.index-avatar(src="https://www.gravatar.com/avatar/c7d870a71870659665a04bd9731ad303?s=200")
    h1.index-h1
        span.mline
        | Mao Wtm
        span.mline
    .index-info
        a(href="mailto:micromaomao@gmail.com",target="_blank") micromaomao@gmail.com
        .dot
        a(href="https://github.com/micromaomao") Github
        .dot
        a(href="https://github.com/micromaomao/public-identity") Public Identity
block location
    div index
block content
    h1 Hello world
    p
        | Hi! This is my website (maowtm.org), but I'm currently building it and it don't even have a
        | index page yet. My blog is currently at
        !="&nbsp;"
        a(href="https://micromaomao.github.io/") micromaomao.github.io
        !="&nbsp;"
        | .
