doctype html
html
    head
        meta(name="viewport",content="width=device-width, initial-scale=1")
        block head
        -if (style)
            style= style
    body
        block content
        script(src="//static.maowtm.org/script/layout.js")
