doctype html
html
  head
    meta(name="viewport",content="width=device-width, initial-scale=1")
    block head
    -if (style)
      style!= style
  body
    block content
    script(src=mapStatic("/script/layout.js"))
    link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Unica+One|Vollkorn:400,400i,700")
