extends layout

block head
  title mww.moe

block content
  .sakamoto
  h1
    ruby 萌 <rt>mo</rt>
    ruby え <rt>e</rt>
    | ！
  .desc
    p
      | You have arrived at&nbsp;
      span.ln mww.moe
      | .
    p
      | This domain is preserved for later usage such as making short links, and is owned by&nbsp;
      a(href='https://maowtm.org/') Mao Wtm
      | .
    p
      | You can&nbsp;
      a(href='https://maowtm.org/Contacts') contact
      |  me if you want to create links in this domain or use it in other ways.
