extends layout

block head
  title AS / A Level Physics Definitive

block content
  .topbar AS<del> / A Level</del> <b>Physics</b> <i>Definitive</i>
  .desc A guide for answering questions asking “define” or “what is meant by”, as well as some other tricky questions.
  p Now contains <i>95</i> exam-style questions, each with a list of correct, as well as incorrect responses.
  p <b>There is no A level stuff yet, sorry about that.</b>
  p <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
  .block.vspace
    .hdownload Download Options
  .block.downloadlist
    p You can download one of the compiled PDF:
    a(href='https://github.com/micromaomao/A-Physics-Definitive/releases/download/r-1.2/A4-12pt.pdf') A4, 12pt font size, wide margin
    a(href='https://github.com/micromaomao/A-Physics-Definitive/releases/download/r-1.2/A4-12pt-narrow.pdf') A4, 12pt font size, narrow margin
    a(href='https://github.com/micromaomao/A-Physics-Definitive/releases/download/r-1.2/A4-10pt.pdf') A4, 10pt font size, wide margin
    a(href='https://github.com/micromaomao/A-Physics-Definitive/releases/download/r-1.2/A4-10pt-narrow.pdf') A4, 10pt font size, narrow margin
    // a() A5, 10pt font size, wide margin
    // a() A5, 10pt font size, narrow margin
    p A5 version not yet ready.
  .block.vspace
    .hdownload TeX Source
  .block.downloadlist
    p Available as a GitHub repository:
    a(href='https://github.com/micromaomao/A-Physics-Definitive') github.com/micromaomao/A-Physics-Definitihe
  .block.vspace
    .hdownload Screenshot
  .block.vspace.screenshot
    img(src=mapStatic('/svg/APD-preview.svg'))
