extends layout

block head
  title Disclaimer - SchSrch
block content
  h1 Disclaimer
  h2 Tl; dr
  p
    | This program itself, which is a part of maowtm.org, is free software. It comes without any warranty, to the extent permitted by applicable law.
    | You can redistribute it and/or modify it under the terms of the MIT License.
  p
    | The past papers hosted here is copyrighted by UCLES. PDF files is gathered from the Web.
  p
    | For <i>educational</i> purpose, I can't account for copyright issues on Cambridge papers. Many websites are doing this anyway.
  p
    | This website is provided AS-IS, with no guarantee of correctness. This website is entirely non-profit. No advertisements shall appear.
