doctype html
html
    head
        meta(name="viewport",content="width=device-width, initial-scale=1")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js")
        link(rel="stylesheet",href="https://static.maowtm.org/main_site/main.css")
        script(src="https://static.maowtm.org/main_site/main.js")
        block head
    body
        .header
            block header_0
            .location
                block location_0
                    div
                        a.logo(href="https://maowtm.org/") Mao
                block location
            .user
            block header
        block content_0
        .content
            block content
