doctype html
html
    head
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js")
        link(rel="stylesheet" href="https://static.maowtm.org/main_site/main.css")
        script(src="https://static.maowtm.org/main_site/main.js")
        block head
    body
        .header
            .location
                a.logo(href="https://maowtm.org/") Mao
                block location
            .user
        .content
            block content
