body {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
a {
    color: #a0d5ff;
}
a:hover {
    color: #ece38c;
}
.content {
    margin: 0;
    padding: 0;
}
.header {
    display: none;
}
.fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.fixed .a0 {
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
}
body.large .fixed .a0 {
    font-size: 30px;
}
body.small .fixed .a0 {
    font-size: 18px;
}
body.large .fixed .a0 h1 {
    font-size: 50px;
}
body.small .fixed .a0 h1 {
    font-size: 30px;
}
.fixed .a1 {
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
body.large .fixed .a1 {
    font-size: 60px;
}
body.small .fixed .a1 {
    font-size: 30px;
}
.fixed .a1 > * {
    vertical-align: middle;
}
.fixed .a1 img {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 20px;
}
.fixed .a1 .line {
    position: absolute;
    background-color: #ffffff;
    left: 70px;
    z-index: -1;
}
body.large .fixed .a1 .line {
    height: 4px;
    bottom: 50px;
}
body.small .fixed .a1 .line {
    height: 2px;
    bottom: 60px;
}
.fixed .a2 {
    font-size: 16px;
}
.fixed .b1, .fixed .b2 {
    font-size: 20px;
    text-align: center;
}
.fixed .b1 img, .fixed .b2 img {
    display: block;
    width: 120px;
    height: 120px;
    margin: 8px auto;
}
.fixed .b1 h2, .fixed .b2 h2 {
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin: 8px;
    padding: 0;
}
.fixed .c1 {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    right: 20px;
}
body.large .fixed .c1 {
    top: 200px;
    left: 150px;
    font-size: 22px;
}
body.small .fixed .c1 {
    top: 170px;
    left: 60px;
    font-size: 18px;
}
.fixed .c1 .it img {
    width: 50px;
    height: 50px;
}
.fixed .c1 .it h3 {
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    margin: 0 10px;
    padding: 0;
    display: inline;
}
body.large .fixed .c1 .it h3 {
    font-size: 35px;
}
body.small .fixed .c1 .it h3 {
    font-size: 25px;
}
.fixed .c1 .it > * {
    vertical-align: middle;
}
.fixed .c1 .it p {
    padding: 0 10px 0 80px;
}
.fixed .dx {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 70%;
    text-align: center;
}
body.large .fixed .dx {
    top: 150px;
}
body.small .fixed .dx {
    top: 100px;
}
.fixed .dx .it {
    position: relative;
}
.fixed .dx .it > .icon {
    display: inline-block;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}
body.large .fixed .dx .it > .icon {
    margin: 10px auto;
    font-size: 200px;
}
body.small .fixed .dx .it > .icon {
    margin: 25px auto;
    font-size: 100px;
}
.fixed .dx .it h3 {
    font-weight: normal;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}
.fixed .dx .it .star {
    font-size: 180%;
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
}
body.large .fixed .dx .it .star {
    max-height: 240px;
}
body.small .fixed .dx .it .star {
    max-height: 120px;
}
.data {
}
