.evt {
    background-color: #fff;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    padding: 1rem;
    max-width: 50rem;
    margin: 0.5rem;
}
.evt .time {
    font-size: 0.8rem;
    color: #999;
    min-width: 17rem;
}
.evt .tag {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    margin: 0.2rem;
    background-color: #ccc;
    border-radius: 0.3rem;
    font-size: 0.8rem;
    vertical-align: middle;
    color: #333;
}
.evt.deled {
    opacity: 0.6;
}
.evt.deled .delmsg {
    font-size: 0.9rem;
    color: #666;
}
.evt img {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 12rem;
}
.evt .permalink {
    font-size: 0.7rem;
}
