.content {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 3rem;
    text-align: center;
}
h2 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 2rem;
}
.act {
    display: block;
    margin: 0.5rem auto;
    max-width: 50rem;
}
.article {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2rem;
}
.article, .article > *, .article > p > * {
    max-width: 100%;
}
