body {
    background-color: #fff;
}
.index-h1 {
    font-family: 'Marck Script', serif;
    text-align: center;
    font-size: 2rem;
    color: #dd1c1a;
}
.index-info {
    text-align: center;
    max-width: 30rem;
    margin: 0 auto;
}
.index-info a {
    margin: 0 0.5rem;
}
.index-info .dot {
    vertical-align: middle;
    display: inline-block;
    background-color: #000;
    margin: 0 0.5rem;
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 0.15rem;
    opacity: 0.5;
}
.index-info .ping pre {
    margin: 0.2rem 0.5rem;
}
.index-avatar {
    width: 15%;
    display: block;
    margin: 0.5rem auto;
    border-radius: 100%;
    box-shadow: 0 0 10rem rgba(0, 0, 0, 0.5);
}
.index-h1 .mline {
    display: inline-block;
    width: 10%;
    height: 0.1rem;
    background-color: #f0c808;
    margin: 0 1rem;
    vertical-align: middle;
}
.header {
    background-image: url(https://img.maowtm.org/maze.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: 50% 50%;
}
body.large .actpr {
    margin: 0.5rem;
}
body.small .actpr {
    margin: 0;
}
.act {
    margin: 0 auto;
    display: block;
    max-width: 50rem;
}
body.large .act {
    border-left: solid 0.1rem #bbb;
    padding: 1rem;
}
body.small .act {
    padding: 0;
}
.actpr .npage {
    display: block;
    margin: 0.5rem 1rem;
    text-align: center;
}
.tsignmsg .time {
    display: inline;
}
.tsignmsg {
    display: block;
    margin: 0.5rem 1rem;
    font-size: 0.8rem;
    color: #555;
}

.evt {
    box-shadow: none;
    border-bottom: solid 0.1rem #dddddd;
}
