body {
    background-color: #fff;
    padding-top: 7rem;
}
body .ptspace {
    height: 13rem;
}
.index-h1 {
    font-family: 'Marck Script', serif;
    text-align: center;
    font-size: 2rem;
    color: #dd1c1a;
}
.index-info {
    text-align: center;
    max-width: 40rem;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}
.index-info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline;
}
.index-info li {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.index-info a {
    margin: 0 0.5rem;
}
.index-info .dot {
    vertical-align: middle;
    display: inline-block;
    background-color: #000;
    margin: 0 0.5rem;
    height: 0.3rem;
    width: 0.3rem;
    border-radius: 0.15rem;
    opacity: 0.5;
}
.header .ping pre {
    margin: 0.2rem 0.5rem;
}
.index-avatar {
    width: 25%;
    display: block;
    margin: 0.5rem auto;
    border-radius: 100%;
    box-shadow: 0 0 10rem rgba(0, 0, 0, 0.5);
}
.index-h1 .mline {
    width: 20%;
    height: 0.1rem;
    background-color: #f0c808;
    margin: 0 1rem;
    vertical-align: middle;
}
body.small .index-h1 .mline {
    display: none;
}
body.large .index-h1 .mline {
    display: inline-block;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header .background {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(https://img.maowtm.org/maze.png);
    background-size: cover;
    background-repeat: repeat;
    background-position: 50% 50%;
}
body.large .actpr {
    margin: 0.5rem;
}
body.small .actpr {
    margin: 0;
}
body.small .header .ping {
    display: none;
}
body.large .content, body.large .header .location {
    max-width: 60rem;
    margin: 0 auto;
    display: block;
}
.act {
    margin: 0 auto;
    display: block;
    max-width: 50rem;
}
body.large .act {
    border-left: solid 0.1rem #bbb;
    padding: 1rem;
}
body.small .act {
    padding: 0;
}
.actpr .npage {
    display: block;
    margin: 0.5rem 1rem;
    text-align: center;
}
.tsignmsg .time {
    display: inline;
}
.tsignmsg {
    display: block;
    margin: 0.5rem 1rem;
    font-size: 0.8rem;
    color: #555;
}

.evt {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-bottom: solid 0.1rem #dddddd;
}

.frilinks {
    text-align: center;
}
.frilinks .fri {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
    width: 9rem;
    height: 9rem;
    overflow: hidden;
}
.frilinks .fri img {
    width: 6rem;
}
.frilinks .fri .name {
    font-size: 1rem;
}
.frilinks .fri a {
    font-size: 0.7rem;
    color: #888;
}
